.table {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

.list-tags > div {
  border: solid 1px #ddd;
  border-radius: 8px;
  padding: 2px 7px;
  margin: 0 5px 0 0;
  width: auto !important;
  display: inline-block;
}

.metismenu {
  background: #303336;
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.menu-active {
  width: 250px;
  left: 0px;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

.menu-inactive {
  left: -250px;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

.metismenu > .metismenu-container > .metismenu-item > .metismenu-link {
  line-height: 2.5em;
}

.metismenu > .metismenu-container > .metismenu-item > .metismenu-link .metismenu-state-icon {
  line-height: 2.5em;
}

.metismenu::after {
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5) inset;
  content: " ";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.metismenu-container,
.metismenu-item {
  margin: 0;
  padding: 0;
}

.metismenu-container {
  list-style: none;
}

.metismenu-container .metismenu-container {
  box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
  -webkit-box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
  transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  background: rgba(255, 255, 255, 0.05);
}

.metismenu-container .metismenu-container .metismenu-item > .metismenu-link {
  height: 0;
  overflow: hidden;
}

.metismenu-container .metismenu-container .metismenu-link {
  padding-left: 1em;
}

.metismenu-container .metismenu-container .metismenu-container .metismenu-link {
  padding-left: 2em;
}

.metismenu-container.visible {
  padding: 0.5em 0;
}

.metismenu-container.visible > .metismenu-item > .metismenu-link {
  height: 2.5em;
}

.metismenu-link {
  color: #ddd;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  transition: height 0.3s, color 0.3s, background-color 0.3s;
  -webkit-transition: height 0.3s, color 0.3s, background-color 0.3s;
  display: block;
  line-height: 2.5em;
  text-decoration: none;
}

.metismenu-link:hover {
  background: rgba(255, 255, 255, 0.05);
  color: #f7f7f7;
}

.metismenu-link.active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #49afcd;
  color: #fff;
}

.metismenu-link.has-active-child {
  color: #49afcd;
}

i.metismenu-icon {
  text-align: center;
  width: 3em;
}

i.metismenu-state-icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition: transform 0.3s;
  float: right;
  line-height: 2.5em;
  text-align: center;
  width: 3em;
}

i.metismenu-state-icon.rotate-minus-90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.menu-active-page-content {
  padding-left: 250px;
  -webkit-transition: padding-left 0.3s;
  transition: padding-left 0.3s;
}

.menu-inactive-page-content {
  padding-left: 0px;
  -webkit-transition: padding-left 0.3s;
  transition: padding-left 0.3s;
}

a:hover {
  -webkit-text-decoration: !important none;
          text-decoration: !important none;
}
/*# sourceMappingURL=metis.css.map */